<p-toast position="top-right"></p-toast>
<main id="main" class="main">
  <p-blockUI [blocked]="blockedDocument"></p-blockUI>
  <div class="pagetitle">
    <h1>Events</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item">Events</li>
        <li class="breadcrumb-item">New Event</li>
      </ol>
    </nav>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">New Event</h5>
      <form
        class="row g-3"
        [formGroup]="createEventForm"
        (ngSubmit)="createEventForm.valid && onSubmit()"
      >
        <div class="row mb-2 mt-4">
          <div class="col-md-7">
            <span class="p-float-label">
              <input
                id="float-input"
                type="text"
                pInputText
                formControlName="title"
                class="form-control"
              />
              <label for="float-input">Title</label>
            </span>
          </div>
          <div class="col-md-5">
            <label>Event Type</label>
            <p-selectButton
              [options]="listEventType"
              formControlName="typeString"
            ></p-selectButton>
          </div>
        </div>
        <div class="row">
          <label>Summary</label>
          <p-editor
            formControlName="summary"
            [style]="{ height: '100px' }"
          ></p-editor>
        </div>
        <div class="row mt-2">
          <label>Description</label>
          <p-editor
            formControlName="description"
            [style]="{ height: '200px' }"
          ></p-editor>
        </div>
        <div class="row mt-5">
          <span class="p-float-label">
            <input
              id="float-input"
              type="text"
              pInputText
              formControlName="listTag"
              class="form-control"
            />
            <label for="float-input">Tags</label>
          </span>
        </div>

        <div class="row mt-4">
          <div class="col-md-3">
            <span class="p-float-label">
              <input
                id="float-input"
                type="text"
                pInputText
                formControlName="street"
              />
              <label for="float-input">Address</label>
            </span>
          </div>
          <div class="col-md-3">
            <span class="p-float-label">
              <input
                id="float-input"
                type="text"
                pInputText
                formControlName="ward"
              />
              <label for="float-input">Ward</label>
            </span>
          </div>
          <div class="col-md-3">
            <span class="p-float-label">
              <input
                id="float-input"
                type="text"
                pInputText
                formControlName="district"
              />
              <label for="float-input">District</label>
            </span>
          </div>
          <div class="col-md-3">
            <span class="p-float-label">
              <input
                id="float-input"
                type="text"
                pInputText
                formControlName="city"
              />
              <label for="float-input">City</label>
            </span>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-sm-6">
            <label>Organizer</label><br />
            <p-dropdown
              [options]="listOrganizer"
              formControlName="organizerId"
              placeholder="Select a organizer"
              optionLabel="name"
              optionValue="id"
              [showClear]="true"
            ></p-dropdown>
          </div>
          <div class="col-sm-4">
            <label>Total Slot</label><br />
            <p-inputNumber
              formControlName="totalSlot"
              mode="decimal"
            ></p-inputNumber>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-sm-3">
            <label for="time">Start Time</label><br />
            <p-calendar
              formControlName="startTime"
              [showTime]="true"
              inputId="time"
            ></p-calendar>
          </div>
          <div class="col-sm-3">
            <label>Duration</label><br />
            <p-inputNumber
              formControlName="duration"
              mode="decimal"
              [minFractionDigits]="2"
              [maxFractionDigits]="2"
            ></p-inputNumber>
          </div>
          <div class="col-sm-3">
            <label for="time">Launch Time</label><br />
            <p-calendar
              formControlName="launchTime"
              [showTime]="true"
              inputId="time"
            ></p-calendar>
          </div>
          <div class="col-sm-3">
            <label for="time">Close Time</label><br />
            <p-calendar
              formControlName="closeTime"
              [showTime]="true"
              inputId="time"
            ></p-calendar>
          </div>
        </div>
        <div class="row mt-2">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="floatingName"
              formControlName="videoLink"
            />
            <label for="floatingName">Video Link</label>
          </div>
        </div>

        <div class="row">
          <label>Images</label>
          <p-fileUpload
            [showUploadButton]="false"
            [chooseLabel]="' '"
            [cancelLabel]="' '"
            (onSelect)="selectFiles($event)"
            [multiple]="true"
            accept="image/*"
            [maxFileSize]="1000000"
          >
            <ng-template pTemplate="content">
              <ul *ngIf="selectedFileArr.length">
                <li *ngFor="let file; in: selectedFileArr">
                  {{ file.name }} - {{ file.size }} bytes
                </li>
              </ul>
            </ng-template>
          </p-fileUpload>
        </div>

        <div class="text-center">
          <button
            pButton
            type="submit"
            [disabled]="createEventForm.invalid"
            label="Submit"
          ></button>
          <button
            pButton
            type="reset"
            class="p-button-secondary"
            label="Reset"
          ></button>
        </div>
      </form>
    </div>
  </div>
</main>
