<section
  class="container py-0"
  style="margin-top: -10rem !important"
  *ngIf="bookingDetail$ | async as bookingDetail"
>
<p-blockUI [blocked]="blockedDocument"></p-blockUI>
  <div class="row align-items-top">
    <div class="col-lg-9 mb-1">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-uppercase">Booking Detail</h5>
          <h6  class="card-text">Amount: <span #amount>{{ bookingDetail.amount }}</span>VND</h6>
          <h6 class="card-text">Create At: {{ bookingDetail.createTime | date: 'medium' }}</h6>
          <span [ngClass]="getBookingStatusClass(bookingDetail.statusString)">{{
            bookingDetail.statusString | titlecase
          }}</span>
          <div class="row">
            <div class="row col-lg-6">
              <div class="card-body">
                <h5 class="card-title">Catalog</h5>
                <ol class="list-group list-group-numbered">
                  <li
                    class="list-group-item d-flex justify-content-between align-items-start"
                    *ngFor="let item of bookingDetail.ticketCatalogList"
                  >
                    <div class="ms-2 me-auto">
                      <div class="fw-bold">{{ item.ticketCatalogTitle }}</div>
                      {{ item.price }}đ
                    </div>
                    <span class="badge bg-primary rounded-pill">{{
                      item.quantity
                    }}</span>
                  </li>
                </ol>
              </div>
            </div>
            <div
              class="col-lg-6"
              *ngIf="bookingDetail.event.typeString === 'CHARGE'"
            >
              <div class="card-body">
                <h5 class="card-title">Payment</h5>
                <form
                  *ngIf="
                    pendingBooking(
                      bookingDetail.statusString,
                      bookingDetail.event.statusString,
                      bookingDetail.bookingTimeout
                    )
                  "
                  [formGroup]="placePaymentForm"
                  (ngSubmit)="placePayment()"
                  class="row d-flex justify-content-between"
                >
                  <div class="col-md-auto col-sm">
                    <div
                      class="custom-control custom-radio custom-control-inline"
                    >
                      <input
                        id="customRadioInline23"
                        type="radio"
                        name="paymentType"
                        value="PayPal"
                        formControlName="paymentType"
                        checked
                      />
                      <label for="customRadioInline23"
                        ><img
                          width="80px"
                          src="https://i.imgur.com/cMk1MtK.jpg"
                          class="card-image"
                      /></label>
                    </div>
                  </div>
                  <div class="col-md-auto col-sm-auto">
                    <div
                      class="custom-control custom-radio custom-control-inline"
                    >
                      <input
                        id="customRadioInline11"
                        type="radio"
                        name="paymentType"
                        value="VISA"
                        formControlName="paymentType"
                      />
                      <label for="customRadioInline11"
                        ><img
                          width="80px"
                          src="https://i.imgur.com/OdxcctP.jpg"
                          class="card-image"
                        />
                      </label>
                    </div>
                  </div>
                  <div class="col-md-auto col-sm">
                    <div
                      class="custom-control custom-radio custom-control-inline"
                    >
                      <input
                        id="customRadioInline22"
                        type="radio"
                        name="paymentType"
                        value="MasterCard"
                        formControlName="paymentType"
                      />
                      <label for="customRadioInline22"
                        ><img
                          width="80px"
                          src="https://i.imgur.com/WIAP9Ku.jpg"
                          class="card-image"
                      /></label>
                    </div>
                  </div>
                  <div>
                    <button type="submit" class="btn btn-primary">
                      Place Payment
                    </button>
                  </div>
                </form>

                <div *ngIf="bookingDetail.statusString === 'COMPLETED'" class="row col-sm-auto">
                  <div
                    class="col-sm-4 custom-control custom-radio custom-control-inline"
                  >
                    <img
                      width="100px"
                      [src]="
                        getPaymentTypeLogo(bookingDetail.payment.typeString)
                      "
                      class="card-image"
                    />
                  </div>
                  <div
                    class="col-sm-8"
                    *ngIf="bookingDetail.statusString === 'COMPLETED'"
                  >
                    <h6>Code: {{ bookingDetail.payment.code }}</h6>
                    <h6>Create at: {{ bookingDetail.payment.createTime }}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">Ticket List</div>
        <div class="card-body">
          <app-ticket-detail
            *ngFor="let ticket of bookingDetail.listTicket"
            [ticket]="ticket"
            [bookingStatus]="bookingDetail.statusString"
          ></app-ticket-detail>
        </div>
      </div>
      <button
        type="button"
        class="btn btn-danger"
        [hidden]="
          isHiddenCancelBtn(
            bookingDetail.statusString,
            bookingDetail.event.typeString,
            bookingDetail.event.statusString
          )
        "
        (click)="openConfirmCancel(bookingDetail.id)"
      >
        Cancel Booking
      </button>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">User Information</h5>
          <h6 class="card-text">Full name: {{ bookingDetail.fullName }}</h6>
          <h6 class="card-text">Username: {{ bookingDetail.username }}</h6>
          <h6 class="card-text">Mobile: {{ bookingDetail.mobile }}</h6>
          <h6 class="card-text">Email: {{ bookingDetail.email }}</h6>
        </div>
      </div>
      <div class="card">
        <img
          [src]="BASE_API + bookingDetail.event.imagePathList[0]"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{ bookingDetail.event.title }}</h5>
          <p class="card-text">
            {{
              bookingDetail.event.summary.length >= 50
                ? bookingDetail.event.summary.substring(0, 47) + "... "
                : bookingDetail.event.summary
            }}<a [routerLink]="['/events/', bookingDetail.event.id]">more</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog> 
  <p-toast></p-toast>
</section>
