<main id="main" class="main">
  <div class="pagetitle">
    <h1>Employees</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
        <li class="breadcrumb-item">Employees</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Employee List</h5>
            <button
              pButton
              pRipple
              label="New Employee"
              icon="pi pi-plus"
              class="p-button-info mb-4"
              (click)="openEmployeeCreateDialog()"
            ></button>
            <p-table
              styleClass="p-datatable-striped"
              [tableStyle]="{ 'min-width': '50rem' }"
              #dt
              *ngIf="employeeList$ | async as employeeList"
              [value]="employeeList"
              [rows]="10"
              [paginator]="true"
              [globalFilterFields]="[
                'employeeCode',
                'username',
                'email',
                'fullName',
                'position'
              ]"
              [rowHover]="true"
              dataKey="id"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              [showCurrentPageReport]="true"
            >
              <ng-template pTemplate="caption">
                <div class="p-d-flex p-ai-center p-jc-between">
                  <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input
                      pInputText
                      type="text"
                      (input)="applyFilterGlobal($event, 'contains')"
                      placeholder="Search..."
                    />
                  </span>
                </div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="employeeCode">
                    Employee Code <p-sortIcon field="employeeCode"></p-sortIcon>
                  </th>
                  <th pSortableColumn="username">
                    Username <p-sortIcon field="username"></p-sortIcon>
                  </th>
                  <th pSortableColumn="fullName">
                    Full Name <p-sortIcon field="fullName"></p-sortIcon>
                  </th>
                  <th pSortableColumn="email">
                    Email <p-sortIcon field="email"></p-sortIcon>
                  </th>
                  <th pSortableColumn="mobile">
                    Mobile <p-sortIcon field="mobile"></p-sortIcon>
                  </th>
                  <th pSortableColumn="position">
                    Position <p-sortIcon field="position"></p-sortIcon>
                  </th>
                  <th pSortableColumn="role">
                    Role <p-sortIcon field="role"></p-sortIcon>
                  </th>
                  <th></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-employee>
                <tr>
                  <td>{{ employee.employeeCode }}</td>
                  <td>{{ employee.username }}</td>
                  <td>{{ employee.fullName }}</td>
                  <td>{{ employee.email }}</td>
                  <td>{{ employee.mobile }}</td>
                  <td>{{ employee.position }}</td>
                  <td>{{ employee.role }}</td>
                  <td>
                    <button
                      pButton
                      pRipple
                      icon="pi pi-eye"
                      class="p-button-rounded p-button-info p-mr-2"
                      (click)="detailEmployee(employee.id)"
                    ></button>
                    &nbsp;
                    <button
                      pButton
                      pRipple
                      icon="pi pi-pencil"
                      class="p-button-rounded p-button-warning p-mr-2"
                      (click)="openEditEmployeeDialog(employee.id)"
                    ></button>
                    &nbsp;
                    <button
                      pButton
                      pRipple
                      icon="pi pi-trash"
                      class="p-button-rounded p-button-danger p-mr-2"
                      (click)="openRemoveConfirm(employee)"
                    ></button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <p-confirmDialog
              [style]="{ width: '50vw' }"
              [baseZIndex]="10000"
            ></p-confirmDialog>
          </div>
        </div>
      </div>
    </div>
    <p-dialog
      [(visible)]="employeeDetailDialog"
      [style]="{ width: '60vw' }"
      header="Employee Detail"
      [modal]="true"
      styleClass="p-fluid"
    >
      <ng-template pTemplate="content">
        <app-employee-detail
          [employeeDetail]="employeeDetail"
        ></app-employee-detail>
      </ng-template>
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="Close"
          class="p-button-info mt-2"
          (click)="closeDetailDialog()"
        ></button>
      </ng-template>
    </p-dialog>

    <p-dialog
      [(visible)]="employeeEditDialog"
      [style]="{ width: '60vw' }"
      header="Update Employee"
      [modal]="true"
      styleClass="p-fluid"
    >
      <ng-template pTemplate="content">
        <app-employee-edit
          #employee_edit
          [employeeEdit]="employeeEdit"
        ></app-employee-edit>
      </ng-template>
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="Update"
          class="p-button-info mt-2"
          (click)="submitUpdateEmployee()"
        ></button>
        <button
          pButton
          pRipple
          label="Close"
          class="p-button-info mt-2"
          (click)="closeEditDialog()"
        ></button>
      </ng-template>
    </p-dialog>

    <p-dialog
      [(visible)]="employeeCreateDialog"
      [style]="{ width: '60vw' }"
      header="New Employee"
      [modal]="true"
      styleClass="p-fluid"
    >
      <ng-template pTemplate="content">
        <app-employee-create
          #employee_create
        ></app-employee-create>
      </ng-template>
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="Submit"
          class="p-button-info mt-2"
          (click)="submitCreateEmployee()"
        ></button>
        <button
          pButton
          pRipple
          label="Close"
          class="p-button-info mt-2"
          (click)="closeCreateDialog()"
        ></button>
      </ng-template>
    </p-dialog>
    <p-toast></p-toast>
  </section>
</main>
