<section
  class="section profile container py-0"
  style="margin-top: -10rem !important"
  *ngIf="userProfile$ | async as userProfile"
>
  <div class="row">
    <div class="col-xl-4">
      <div class="card">
        <div
          class="card-body profile-card pt-4 d-flex flex-column align-items-center"
        >
          <img
            src="assets/img/profile-img.jpg"
            alt="Profile"
            class="rounded-circle"
          />
          <h2>{{ userProfile.username }}</h2>
          <h3>{{ userProfile.userCode }}</h3>
          <div class="social-links mt-2">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8">
      <div class="card">
        <div class="card-body pt-3">
          <ul class="nav nav-tabs nav-tabs-bordered">
            <li class="nav-item">
              <button
                #overview
                class="nav-link active"
                data-bs-toggle="tab"
                data-bs-target="#profile-overview"
              >
                Overview
              </button>
            </li>
            <li class="nav-item">
              <button
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#profile-edit"
              >
                Edit Profile
              </button>
            </li>
            <li class="nav-item">
              <button
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#profile-change-password"
              >
                Change Password
              </button>
            </li>
          </ul>
          <div class="tab-content pt-4">
            <div
              class="tab-pane fade show active profile-overview"
              id="profile-overview"
            >
              <div class="row">
                <div class="col-lg-3 col-md-4 label">Full Name</div>
                <div class="col-lg-9 col-md-8">{{ userProfile.fullName }}</div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-4 label">Date of Birth</div>
                <div class="col-lg-9 col-md-8">
                  {{ userProfile.dateOfBirth | date }}
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-4 label">Gender</div>
                <div class="col-lg-9 col-md-8">{{ userProfile.gender }}</div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-4 label">Address</div>
                <div class="col-lg-9 col-md-8">
                  {{userProfile.address.street}}, {{userProfile.address.ward}}, {{userProfile.address.district}}, {{userProfile.address.city}}
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-4 label">Mobile</div>
                <div class="col-lg-9 col-md-8">{{ userProfile.mobile }}</div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-4 label">Email</div>
                <div class="col-lg-9 col-md-8">{{ userProfile.email }}</div>
              </div>
            </div>
            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
              <form
                [formGroup]="updateInformationForm"
                (ngSubmit)="
                  updateInformationForm.valid && updateInformationSubmit()
                "
              >
                <div class="row mb-4">
                  <label for="fullName" class="col-md-4 col-lg-3 col-form-label"
                    >Full Name</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      formControlName="fullName"
                      type="text"
                      pInputText
                      [value]="userProfile.fullName"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="row mb-4">
                  <label class="col-md-4 col-lg-3 col-form-label">Gender</label>
                  <div class="col-md-8 col-lg-9">
                    <p-selectButton
                      [options]="['Male', 'Female', 'Other']"
                      formControlName="gender"
                    ></p-selectButton>
                  </div>
                </div>
                <div class="row mb-4">
                  <label for="Job" class="col-md-4 col-lg-3 col-form-label"
                    >Date of Birth</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <p-calendar
                      formControlName="dateOfBirth"
                      [showTime]="false"
                      inputId="time"
                    ></p-calendar>
                  </div>
                </div>
                <div class="row mb-4">
                  <label for="Address" class="col-md-4 col-lg-3 col-form-label"
                    >Address</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <span class="p-float-label mb-4">
                        <input
                          type="text"
                          pInputText
                          formControlName="street"
                        />
                        <label>Street</label>
                      </span>
                      <span class="p-float-label mb-4">
                        <input
                          type="text"
                          pInputText
                          formControlName="ward"
                        />
                        <label>Ward</label>
                      </span>
                      <span class="p-float-label mb-4">
                        <input
                          type="text"
                          pInputText
                          formControlName="district"
                        />
                        <label>District</label>
                      </span>
                      <span class="p-float-label mn-4">
                        <input
                          type="text"
                          pInputText
                          formControlName="city"
                        />
                        <label>City</label>
                      </span>
                  </div>
                </div>
                <div class="row mb-4">
                  <label for="Phone" class="col-md-4 col-lg-3 col-form-label"
                    >Mobile</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      [disabled]="'true'"
                      type="text"
                      class="form-control"
                      id="Phone"
                      [value]="userProfile.mobile"
                    />
                  </div>
                </div>
                <div class="row mb-4">
                  <label for="Email" class="col-md-4 col-lg-3 col-form-label"
                    >Email</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      [disabled]="'true'"
                      class="form-control"
                      id="Email"
                      [value]="userProfile.email"
                    />
                  </div>
                </div>
                <div class="text-center">
                  <button
                    pButton
                    pRipple
                    label="Save Changes"
                    class="p-button-info mb-4"
                    type="submit"
                    class="btn btn-primary"
                  ></button>
                </div>
              </form>
            </div>
            <div class="tab-pane fade pt-3" id="profile-change-password">
              <form
                [formGroup]="changePasswordForm"
                (ngSubmit)="changePasswordForm.valid && changePasswordSubmit()"
              >
                <div class="row mb-3">
                  <label
                    for="currentPassword"
                    class="col-md-4 col-lg-3 col-form-label"
                    >Current Password</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      formControlName="currentPassword"
                      type="password"
                      class="form-control"
                      id="currentPassword"
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <label
                    for="newPassword"
                    class="col-md-4 col-lg-3 col-form-label"
                    >New Password</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      formControlName="newPassword"
                      type="password"
                      class="form-control"
                      id="newPassword"
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <label
                    for="renewPassword"
                    class="col-md-4 col-lg-3 col-form-label"
                    >Re-enter New Password</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      formControlName="againPassword"
                      type="password"
                      class="form-control"
                      id="renewPassword"
                    />
                  </div>
                </div>
                <div class="text-center">
                  <button
                    pButton
                    pRipple
                    label="Change Password"
                    class="p-button-info mb-4"
                    type="submit"
                    [disabled]="changePasswordForm.invalid"
                  ></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p-confirmDialog
    [style]="{ width: '50vw' }"
    [baseZIndex]="10000"
  ></p-confirmDialog>
  <p-toast></p-toast>
</section>
