<main>
   <div class="bg-holder overlay overlay-light" style="background-image:url(assets/img/header-bg.png);background-size:cover;background-repeat: repeat;"></div>
    <div class="container">
       <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
          <div class="container">
             <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                   <div class="d-flex justify-content-center py-4"> <a routerLink="/" class="d-flex align-items-center w-auto"> <img src="assets/img/logo.png" alt=""> </a></div>
                   <div class="card mb-3">
                      <div class="card-body">
                         <div class="pt-4 pb-2">
                            <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                            <p class="text-center small">Enter your personal details to create account</p>
                         </div>
                         <form class="row g-3 needs-validation" [formGroup]="signUpForm"  (ngSubmit)="signUpForm.valid && onSubmit()">
                            <div class="col-12">
                               <label for="yourUsername" class="form-label">Username</label> <input type="text"  class="form-control" id="yourUsername" formControlName="username">
                               <!-- <pre  *ngIf="signUpForm.get('username').errors != null">{{ signUpForm.get("username")?.errors | json }}</pre> -->
                               <!-- <div class="invalid-feedback">Please enter a valid Email adddress!</div> -->
                            </div>
                            <div class="col-12">
                               <label for="yourEmail" class="form-label">Email</label>
                               <div class="input-group has-validation">
                                  <span class="input-group-text" id="inputGroupPrepend">@</span> <input type="email" class="form-control" id="yourEmail" formControlName="email">
                                  <!-- <pre  *ngIf="signUpForm.get('email').errors != null">{{ signUpForm.get("email")?.errors | json }}</pre> -->
                                  <!-- <div class="invalid-feedback">Please choose a username.</div> -->
                               </div>
                            </div>
                            <div class="col-12">
                               <label for="yourPassword" class="form-label">Password</label> <input type="password" class="form-control" id="yourPassword" formControlName="password">
                               <!-- <pre *ngIf="signUpForm.get('password').errors != null">{{ signUpForm.get("password")?.errors | json }}</pre> -->
                               <!-- <div class="invalid-feedback">Please enter your password!</div> -->
                            </div>
                            <div class="col-12">
                              <label for="yourAgainPassword" class="form-label">Again password</label> <input type="password" class="form-control" id="yourAgainPassword" formControlName="againPassword">
                              <!-- <div class="invalid-feedback">Please enter your password!</div> -->
                           </div>
                            <div class="col-12">
                               <div class="form-check">
                                  <input class="form-check-input" formControlName="acceptTerm" type="checkbox" value="" id="acceptTerms" required> <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and conditions</a></label>
                                  <div class="invalid-feedback">You must agree before submitting.</div>
                               </div>
                            </div>
                            <div class="col-12"> <button class="btn btn-primary w-100" type="submit" [disabled]="signUpForm.invalid">Create Account</button></div>
                            <div class="col-12">
                               <p class="small mb-0">Already have an account? <a routerLink="/login">Log in</a></p>
                            </div>
                         </form>
                      </div>
                   </div>
                   <div class="credits"> Loved by <a href="https://freeetemplates.com/">FreeeTemplates</a></div>
                </div>
             </div>
          </div>
       </section>
    </div>
 </main>