<main id="main" class="main">
    <div class="pagetitle">
       <h1>Events</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
             <li class="breadcrumb-item">Events</li>
          </ol>
       </nav>
    </div>
    <section class="section">
        <div class="row dashboard">
            <div class="col-xxl-6 col-xl-6 col-md-6">
               <div class="card info-card sales-card">
                  <div class="filter">
                     <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                     <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                           <h6>Filter</h6>
                        </li>
                        <li><a class="dropdown-item" href="#">Today</a></li>
                        <li><a class="dropdown-item" href="#">This Month</a></li>
                        <li><a class="dropdown-item" href="#">This Year</a></li>
                     </ul>
                  </div>
                  <div class="card-body">
                     <h5 class="card-title">Best Sales <span>| Today</span></h5>
                     <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-cart"></i></div>
                        <div class="ps-3">
                           <h6>145</h6>
                           <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-md-6">
               <div class="card info-card customers-card">
                  <div class="filter">
                     <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                     <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                           <h6>Filter</h6>
                        </li>
                        <li><a class="dropdown-item" href="#">Today</a></li>
                        <li><a class="dropdown-item" href="#">This Month</a></li>
                        <li><a class="dropdown-item" href="#">This Year</a></li>
                     </ul>
                  </div>
                  <div class="card-body">
                     <h5 class="card-title">Most Follow <span>| This Year</span></h5>
                     <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-people"></i></div>
                        <div class="ps-3">
                           <h6>1244</h6>
                           <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            
         </div>
       <div class="row">
          <div class="col-lg-12">
             <div class="card">
                <div class="card-body">
                   <h5 class="card-title">Event List</h5>
                   <p>The </p>
                   <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-primary" routerLink="create">New Event</button>
                   </div>
                   <br>
                   <table class="table table-hover">
                      <thead>
                         <tr>
                            <th scope="col">#</th>
                            <th scope="col">ID</th>
                            <th scope="col">Title</th>
                            <th scope="col">Type</th>
                            <th scope="col">Tags</th>
                            <th scope="col">Total Slot</th>
                            <th scope="col">Sold Slot</th>
                            <th scope="col">Sales</th>
                            <th scope="col">Organizer</th>
                            <th scope="col">Status</th>
                         </tr>
                      </thead>
                      <tbody>                         
                         <tr *ngFor="let event of eventList$ | async; let i = index" >
                            <th scope="row">{{i + 1}}</th>
                            <td><a class="link-primary fw-bold" [routerLink]="['/admin/events/', event.id]">{{event.id}}</a></td>
                            <td>{{event.title}}</td>
                            <td><h5><span [ngClass]="getClassOfEventType(event.typeString)">{{event.typeString | titlecase}}</span></h5></td>
                            <td>
                              <span *ngFor="let tag of event.listTag" class="badge rounded-pill bg-light text-dark">
                                 {{tag}}
                              </span>
                            </td>
                            <td>{{event.totalSlot}}</td>
                            <td>{{event.soldSlot}}</td>
                            <td>{{event.sales}}</td>
                            <td><a class="link-info fw-bold" [routerLink]="['/admin/organizers/', event.organizer.id]">{{event.organizer.name}}</a></td>
                            <td><span [ngClass]="getClassOfEventStatus(event.statusString)">{{event.statusString | titlecase}}</span></td>
                         </tr>
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
    </section>
 </main>