<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <!-- <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="">
        <i class="bi bi-grid"></i> <span>DASHBOARD</span>
      </a>
    </li> -->
    <li class="nav-item" *ngIf="role === 'ADMINISTRATOR'">
      <a
        class="nav-link collapsed"
        data-bs-target="#account-nav"
        data-bs-toggle="collapse"
        href="#"
      >
        <i class="bi bi-person"></i><span>ACCOUNT</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="account-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a routerLink="admin/employees" routerLinkActive="active">
            <i class="bi bi-person-badge"></i><span>EMPLOYEE</span>
          </a>
        </li>
        <li>
          <a routerLink="admin/users" routerLinkActive="active">
            <i class="bi bi-person-badge-fill"></i><span>USER</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        routerLink="admin/organizers"
        routerLinkActive="active"
      >
        <i class="bi bi-person-workspace"></i> <span>ORGANIZER</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        routerLink="admin/events"
        routerLinkActive="active"
      >
        <i class="bi bi-calendar4-event"></i> <span>EVENT</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        routerLink="admin/bookings"
        routerLinkActive="active"
      >
        <i class="bi bi-bookmark-heart"></i> <span>BOOKING</span>
      </a>
    </li>

    <!-- <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#export-nav"
        data-bs-toggle="collapse"
        href="#"
      >
        <i class="bi bi-menu-button-wide"></i><span>Export</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="export-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a routerLink="/alerts">
            <i class="bi bi-circle"></i><span>Booked Tickets</span>
          </a>
        </li>
        <li>
          <a routerLink="/accordion">
            <i class="bi bi-circle"></i><span>Reports</span>
          </a>
        </li>
      </ul>
    </li> -->
  </ul>
</aside>
