<nav
  class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block bg-dark-light"
  data-navbar-on-scroll="data-navbar-on-scroll"
  style="opacity: 0.85"
>
  <div class="container">
    <a class="navbar-brand d-inline-flex"  routerLink=""
      ><img class="d-inline-block" src="assets/img/logo.png" alt="logo" /></a
    ><button
      class="navbar-toggler collapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse border-lg-0 mt-4 mt-lg-0"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item px-2">
          <a class="nav-link fw-medium" routerLink="" routerLinkActive="active"
            >HOME</a
          >
        </li>
        <li class="nav-item px-2">
          <a
            class="nav-link fw-medium"
            routerLink="event"
            routerLinkActive="active"
            >EVENT</a
          >
        </li>
        <li class="nav-item px-2" *ngIf="isUserLoggedIn()">
          <a
            class="nav-link fw-medium"
            routerLink="booking"
            routerLinkActive="active"
            >BOOKING</a
          >
        </li>
      </ul>
      <div class="d-flex">
        <a
          class="text-1000"
          routerLink="/followed-event"
          *ngIf="isUserLoggedIn()"
          pTooltip="Followed List"
          tooltipPosition="top"
        >
          <span
            ><i
              class="pi pi-chart-bar p-mr-4 p-text-secondary"
              pBadge
              style="font-size: 2rem; color: rgb(34, 44, 178)"
              value="*"
            ></i
          ></span>
        </a>
        &nbsp; &nbsp;
        <a
          class="text-1000"
          *ngIf="isUserLoggedIn()"
          routerLink="/profile"
          [pTooltip]="userLoggedIn.username"
          tooltipPosition="top"
        >
          <p-avatar
            shape="circle"
            image="assets/img/profile-img.jpg"
          ></p-avatar>
        </a>
        &nbsp; &nbsp;
        <a
          class="text-1000"
          routerLink="login"
          *ngIf="!isUserLoggedIn()"
          pTooltip="Login"
          tooltipPosition="top"
        >
          <span
            ><i class="pi pi-arrow-circle-left" style="font-size: 2rem"></i
          ></span>
        </a>
        <a
          class="text-1000"
          routerLink="login"
          *ngIf="isUserLoggedIn()"
          (click)="signOut()"
          pTooltip="Logout"
          tooltipPosition="top"
        >
          <span
            ><i class="pi pi-arrow-circle-right" style="font-size: 2rem"></i
          ></span>
        </a>
      </div>
    </div>
  </div>
</nav>
<section class="py-10 bg-primary-light border-bottom border-white border-5">
  <div
    class="bg-holder overlay overlay-light"
    style="
      background-image: url(assets/img/header-bg.png);
      background-size: cover;
      background-repeat: repeat;
    "
  ></div>
  <!--/.bg-holder-->
  <div class="container">
    <div class="row flex-center">
      <div class="col-12 mb-0">
        <div class="d-flex align-items-center flex-column">
          <h1 class="fw-normal">Booking our passage to the future</h1>
          <h1 class="fs-4 fs-lg-8 fs-md-6 fw-bold">
            Life is hard enough already. Let us make it a little easier.
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>
