<main id="main" class="main">
  <div class="pagetitle">
    <h1>Organizers</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
        <li class="breadcrumb-item">Organizers</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="row dashboard">
      <div class="col-xxl-4 col-md-6">
        <div class="card info-card sales-card">
          <div class="card-body">
            <h5 class="card-title">Best Sales</h5>
            <div class="d-flex align-items-center">
              <div
                class="card-icon rounded-circle d-flex align-items-center justify-content-center"
              >
                <i class="bi bi-currency-dollar"></i>
              </div>
              <div class="ps-3">
                <h6>SM Entertainment</h6>
                <span class="text-success small pt-1 fw-bold">34000$</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-4 col-md-6">
        <div class="card info-card revenue-card">
          <div class="card-body">
            <h5 class="card-title">Most Event</h5>
            <div class="d-flex align-items-center">
              <div
                class="card-icon rounded-circle d-flex align-items-center justify-content-center"
              >
                <i class="bi bi-calendar"></i>
              </div>
              <div class="ps-3">
                <h6>GDG Hà Nội</h6>
                <span class="text-success small pt-1 fw-bold">8</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-12">
        <div class="card info-card customers-card">
          <div class="card-body">
            <h5 class="card-title">Most Follow</h5>
            <div class="d-flex align-items-center">
              <div
                class="card-icoroun rounded-circle d-flex align-items-center justify-content-center"
              >
                <i class="bi bi-people"></i>
              </div>
              <div class="ps-3">
                <h6>GDG Hà Nội</h6>
                <span class="text-danger small pt-1 fw-bold">1120</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Organizer List</h5>
            <button
            pButton
            pRipple
            label="New Organizer"
            icon="pi pi-plus"
            class="p-button-info mb-4"
            routerLink="create"
          ></button>
            <p-table
              styleClass="p-datatable-striped"
              [tableStyle]="{ 'min-width': '50rem' }"
              #dt
              *ngIf="organizerList$ | async as organizerList"
              [value]="organizerList"
              [rows]="10"
              [paginator]="true"
              [globalFilterFields]="['id', 'name', 'email', 'representative']"
              [rowHover]="true"
              dataKey="id"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              [showCurrentPageReport]="true"
            >
              <ng-template pTemplate="caption">
                <div class="p-d-flex p-ai-center p-jc-between">
                  <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input
                      pInputText
                      type="text"
                      (input)="applyFilterGlobal($event, 'contains')"
                      placeholder="Search..."
                    />
                  </span>
                </div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="id">
                    ID <p-sortIcon field="id"></p-sortIcon>
                  </th>
                  <th pSortableColumn="name">
                    Name <p-sortIcon field="name"></p-sortIcon>
                  </th>
                  <th pSortableColumn="address">
                    Address <p-sortIcon field="address"></p-sortIcon>
                  </th>
                  <th pSortableColumn="email">
                    Email <p-sortIcon field="email"></p-sortIcon>
                  </th>
                  <th pSortableColumn="representative">
                    Representative
                    <p-sortIcon field="representative"></p-sortIcon>
                  </th>
                  <th pSortableColumn="updateBy">
                    Update By <p-sortIcon field="updateBy"></p-sortIcon>
                  </th>
                  <th></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-organizer>
                <tr>
                  <td>{{ organizer.id }}</td>
                  <td>{{ organizer.name }}</td>

                  <td>{{ organizer.address }}</td>
                  <td>{{ organizer.email }}</td>
                  <td>{{ organizer.representative }}</td>
                  <td>{{ organizer.updateBy }}</td>
                  <td>
                    <button
                      pButton
                      pRipple
                      icon="pi pi-eye"
                      class="p-button-rounded p-button-info p-mr-2"
                      [routerLink]="['/admin/organizers/', organizer.id]"
                    ></button>
                    <button
                      pButton
                      pRipple
                      icon="pi pi-pencil"
                      class="p-button-rounded p-button-warning p-mr-2"
                      [routerLink]="['/admin/organizers/edit/', organizer.id]"
                    ></button>
                    <button
                      pButton
                      pRipple
                      icon="pi pi-trash"
                      class="p-button-rounded p-button-danger p-mr-2"
                      (click)="openRemoveConfirm(organizer)"
                    ></button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <p-confirmDialog
              [style]="{ width: '50vw' }"
              [baseZIndex]="10000"
            ></p-confirmDialog>
          </div>
        </div>
      </div>
    </div>
    <p-toast></p-toast>
  </section>
</main>
